<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a Customer</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename ='styles/styles.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename ='styles/addCustomer.css') }}">
</head>
<body>
    <div id="nav-bar">
        <div id="left-bar">
            <button class="nav-option" id="send-message" onclick="location.href='./sendMessage'">Send Message</button>
            <button class="nav-option" id="add-customers" onclick="location.href='./addNewCustomer'">Add Customers</button>
            <button class="nav-option" id="view-customers"  onclick="location.href='./viewCustomers'">View Customers</button>
            <button class="nav-option" id="view-customers"  onclick="location.href='./viewUsers'">View Other Users</button>
            <button class="nav-option" id="view-customers"  onclick="location.href='./viewRecentReplies'">Unread Replies</button>
	</div>
        <div id="right-bar">
            <button class="nav-option" id="log-out" onclick="location.href='./logout'">Log Out</button>
        </div>
        <div id="user-menu">
            <button class="menu-option" id="view-settings" onclick="location.href='./userProfile'">Profile</button>
            <button class="menu-option" id="log-out" onclick="location.href='./logout'">Log Out</button>
        </div>
    </div>
    <div id="add-customer-fields">
        <h1>Add a new customer</h1>
        <form action="{{url_for('add_new_customer_form_handler')}}" method="POST">
            <label for="name">Name</label>
            <input type="text" id="name" name="newCustomerName" placeholder="Customer Name..">
            <label for="phoneNumber">Phone number</label>
            <input type="text" id="phoneNumber" name="newCutomperPhoneNumber" placeholder="Customer Phone Number..">
            <label for="email">Email address</label>
            <input type="text" id="email" name="newCustomerEmail" placeholder="Customer Email Address..">
            
        
            <input type="submit" value="Add">
          </form>
    </div>
</body>
</html>
