<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title>Landing</title>
    
</head>
<body>
    <script>
        let varname = [];
        let varvalue =[];
        params = location.hash.split('&');
        
        
        for (i = 0; i < params.length; i++){
            
            x = params[i].split('=')
            
            varname.push(x[0])
            varvalue.push(x[1])
        }
        
        varname[0] = varname[0].substring(1,varname[0].length)
        
        postURL = window.location.origin + window.location.pathname

        varObj = Object.fromEntries(
            varname.map((array1value, index) => [array1value, varvalue[index]])
        );
        console.log(varObj)
        /*
        var xhr = new XMLHttpRequest();
        xhr.open("POST", postURL, true);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.send(JSON.stringify(varObj));*/
        function post(path, parameters) {
            var form = $('<form></form>');

            form.attr("method", "post");
            form.attr("action", path);

            $.each(parameters, function(key, value) {
                if ( typeof value == 'object' || typeof value == 'array' ){
                    $.each(value, function(subkey, subvalue) {
                        var field = $('<input />');
                        field.attr("type", "hidden");
                        field.attr("name", key+'[]');
                        field.attr("value", subvalue);
                        form.append(field);
                    });
                } else {
                    var field = $('<input />');
                    field.attr("type", "hidden");
                    field.attr("name", key);
                    field.attr("value", value);
                    form.append(field);
                }
            });
            $(document.body).append(form);
            form.submit();
        }
        post(postURL,varObj)
        
    </script>
</body>
</html>
